.aboutCard {
  padding: 2.2em;
  text-align: justify;
  position: relative;
}

.aboutCard p {
  line-height: 1.5em;
}

#Georgi {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 2px solid white;
  width: 90px;
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -40%)
}

.contactCont {
  display: flex;
  justify-content: space-around;
  height: 350px;
  align-items: center;
}

#divider {
  width: 1px;
  height: 200px;
  background-color: #ababab;
  margin: -70px;
}

.cv {
  height: 250px;
}

.infoCont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #ababab;
  height: 250px;
}

.contactRow {
  display: flex;
  align-content: center;
}

.contactRow img {
  width: 26px;
}

.contactItem {
  margin-left: 1.2em;
  display: flex;
  align-items: center;
}

.contactItem a,
.contactItem a:visited {
  color:#ababab;
  font-size: 1.2em;
  text-decoration: none;
}

.contactItem a:hover {
  color: #21C3CF;
  transition: color 0.2s;
}