.aboutCard {
  padding: 2.2em;
  text-align: justify;
  position: relative;
}

.aboutCard p {
  line-height: 1.5em;
}

#Georgi {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 2px solid white;
  width: 90px;
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -40%)
}

.contactCont {
  display: flex;
  justify-content: space-around;
  height: 350px;
  align-items: center;
}

#divider {
  width: 1px;
  height: 200px;
  background-color: #525252;
  margin: -100px;
}

.cv {
  height: 250px;
}

.infoCont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #ababab;
  height: 250px;
}

.contactRow {
  display: flex;
  align-content: center;
}

.contactRow img {
  width: 26px;
}

.contactItem {
  margin-left: 1.2em;
  display: flex;
  align-items: center;
}

.contactItem a,
.contactItem a:visited {
  color:#ababab;
  font-size: 1.2em;
  text-decoration: none;
}

.contactItem a:hover {
  color: #21C3CF;
  transition: color 0.2s;
}

@media screen and (max-width: 900px) {
  .aboutCard {
    font-size: 1.3em;
    padding-top: 5em;
  }

  #Georgi {
    width: 140px;
  }

  .contactCont {
    flex-direction: column;
    height: unset;
    padding: 2em 0;
    font-size: 1.2em;
  }

  .contactCont a {
    width: 85%;
  }

  .contactCont > a {
    margin-bottom: 1em;
  }

  .infoCont {
    width: 90%;
    height: 160px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contactRow {
    width: 50%;
    justify-content: flex-start;
  }

  #divider {
    width: 80%;
    height: 1px;
    margin: 1em 0 2em 0;
  }

  .cv {
    height: unset;
  }

}

@media screen and (max-width: 750px) {

  .aboutCard {
    font-size: 1.6em;
  }

  .contactCont {
    font-size: 1.8em;
  }

  .contactCont > a {
    width: 70%;
  }

  .infoCont {
    height: 350px;
    width: 70%;
  }

  .contactRow {
    width: 100%;
  }

  .contactItem {
    margin-left: 1.4em;
  }

  .contactRow img {
    width: 40px;
  }

  #divider {
    width: 70%;
    margin: 2em 0 3em 0;
  }
}