.button {
  padding: 0 1.4em;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #323232;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ababab;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s;
  white-space: nowrap;
}

.button:visited {
  color: #ababab;
}

.button:hover {
  border: 2px solid #21C3CF;
  color: white;
  background-color: #3a3a3a;
}

.button:active {
  background-color: #6d6d6d;
}