.projectPicContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.projectDoc img {
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.projectDescription {
  margin: 0 0 0 30px;
  text-align: justify;
}

.snippetTitle {
  margin-bottom: 30px;
}