.projectPicContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.projectDoc img {
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.descriptionCont {
  margin: 0 0 0 30px;
  text-align: justify;
}

.descriptionCont li {
  line-height: 1.8em;
}

.snippetTitle {
  margin-bottom: 30px;
}

.buttonCont {
  display: flex;
  justify-content: center;
}

.buttonCont a:nth-child(2) {
  margin-left: 2em;
}

#arrow {
  width: 20px;
  height: 16px;
  margin-right: 8px;
  margin-left: -6px;
}