.exPanel {
  flex-grow: 1;
  padding: 1.1em;
  position: relative;
  margin-bottom: 1em !important;
}

.exPanel:last-child {
  margin-bottom: 0 !important;
}

.exPanel h3 {
  cursor: pointer;
  padding: 1em;
  margin: -1em;
  border-radius: 8px;
  transition: all 0.2s;
}

.exPanel h3:hover {
  background-color: #cccccc;
}

h3.expanded {
  border-radius: 8px 8px 0 0;
}

.snippetCont {
  margin-top: 3em;
}

.snippetCont p {
  margin: 1.5em;
}

.triangle {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 15px;
  cursor: pointer;
}