.exPanel {
  flex-grow: 1;
  padding: 1.1em;
  position: relative;
  margin-bottom: 1em;
}
.exPanel h3 {
  cursor: pointer;
  padding: 1em;
  margin: -1em;
}
.snippetCont {
  margin-top: 3em;
}
.snippetCont p {
  margin: 1.5em;
}
.triangle {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 15px;
  cursor: pointer;
}