.exPanel {
  flex-grow: 1;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  background-color: white;
  padding: 1.1em;
  position: relative;
  margin-bottom: 1em;
}
.exPanel h3 {
  cursor: pointer;
  padding: 1em;
  margin: -1em;
}
.snippetCont {
  margin-top: 3em;
}
.snippetCont p {
  margin: 1.5em;
}
.triangle {
  position: absolute;
  top: 28px;
  right: 28px;
  width: 15px;
  cursor: pointer;
}