.techBox {
  background-color: #323232;
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
  padding: 0 1.4em 0 1.4em;
  justify-content: center;
  border-radius: 8px;
}

.techBox::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  background-color: #21C3CF;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.techBox img {
  width: 80px;
  height: 80px;
  margin-right: 1.4em;
}

.techBox img:last-child {
  margin-right: 0;
}