.techBox {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.techBox img {
  width: 80px;
  height: 80px;
  margin-right: 1.5em;
  filter: grayscale(100%);
  transition: all 0.2s;
}

.techBox img:hover {
  filter: none;
}

.techBox img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .techBox img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 750px) {
  .techBox {
    flex-wrap: wrap;
    justify-content: center;
  }
  .techBox img {
    width: 45%;
    height: 45%;
    margin-bottom: 1.5em;
  }

  .techBox img:nth-child(2n + 2) {
    margin-right: 0;
  }

  .techBox img:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}