.headerBG {
  height: 60px;
  margin-top: 6px;
  background-color: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}

.headerBG::before {
  content: '';
  height: 6px;
  background-color: #21C3CF;
  position: absolute;
  width: 100%;
  top: -6px;
}

.headerContent {
  width: 100%;
  height: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#brandLink {
  display: flex;
  align-items: center;
  height: 50%;
}

#brand {
  height: 100%;
}

nav {
  height: 100%;
  font-family: din-next-light;
  font-weight: 400;
  font-size: 20px;
  z-index: 100;
}

nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-items: center;
}

nav ul {
  height: 100%;
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  background-color: #323232;
}

nav ul li {
  height: 100%;
}

nav ul li:hover {
  background-color: #3d3d3d;
}

nav ul li span {
  position: relative;
}

.activeNav span::after {
  content: '';
  background-color: #21C3CF;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.menuToggle {
  display: none;
}

.sliceCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 55%;
}

.burgerSlice {
  height: 4px;
  background-color: #c2c2c2;
  border-radius: 2px;
  transition: all 0.3s;
}

#inside {
  transform: translateX(0);
}

#outside {
  display: none;
}

@media screen and (max-width:900px) {
  .headerContent {
    padding: 0 2em;
  }
}

@media screen and (max-width:750px) {
  .headerContent {
    position: relative;
  }

  nav {
    position: absolute;
    right: 0;
    top: 60px;
    transform: translateX(100%);
    transition: all 0.5s;
  }

  nav a {
    justify-content: center;
    padding: 0 2em;
  }

  nav ul {
    flex-direction: column;
    height: max-content;
  }

  nav ul li {
    height: 75px;
  }

  .menuToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 65px;
    height: 60px;
    transition: all 0.3s;
  }

  .menuToggle:hover {
    background-color: #3d3d3d;
  }

  .menuToggle:hover .burgerSlice {
    background-color: white;
  }
}