.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.25s;
}

.masked {
  position: relative;
}

.mask:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.mask > span {
  opacity: 0;
}

.mask:hover > span {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 70px 20px rgba(0, 0, 0, 0.466);
}

@media screen and (max-width: 900px) {
  .mask > span {
    font-size: 1.3rem;
  }
}
