.footer {
  background-color: #323232;
  height: 80px;
  clear: both;
  position: relative;
  margin-top: -80px;
}
.footer::before {
  content: '';
  height: 4px;
  width: 100%;
  background-color: #21C3CF;
  position: absolute;
  top: -4px;
  left: 0;
}