.App {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  flex-grow: 1;
}

.mainCont {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

section {
  margin-bottom: 60px;
}

h2 {
  font-size: 25px;
  margin: 0;
  color: #323232;
  margin-bottom: 0.8em;
}

h3 {
  margin: 0;
  color: #323232;
}

@media screen and (max-width:940px) {
  .mainCont {
    padding: 0 2em;
  }
}

@media screen and (max-width: 750px) {
  h2 {
    text-align: center;
  }
}