.projectContainer ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  margin-bottom: -5%;
}

.projectContainer li {
  display: flex;
  width: 30%;
  padding-top: 30%;
  margin-top: -30%;
  margin-bottom: 5%;
}

.projectContainer li:nth-child(3n+2) {
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (max-width:900px) {
  .projectContainer ul {
    justify-content: space-around;
  }

  .projectContainer li {
    width: 45%;
  }

  .projectContainer li:nth-child(3n+2) {
    margin-left: unset;
    margin-right: unset;
  }
}

@media screen and (max-width:750px) {
  .projectContainer li {
    width: 100%;
  }

  .projectContainer li:nth-child(3n+2) {
    margin-left: unset;
    margin-right: unset;
  }

  .projectContainer li a {
    width: 100%;
  }
}